<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="https://image.ibb.co/fOur3b/favicon.png"/>
    <script src="https://kit.fontawesome.com/a3fe18bc22.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="/assets/favicon.ico">
    <link rel="stylesheet" href="/css/contact.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/main.css">
    <meta name="theme-color" content="#1885ed">
    <title>Homepage</title>
    </head>
    
    <body>
    <header class="header">
    <div class="container header__container">
    <div class="header__logo"><img class="header__img" src="/images/devteklogo.jpeg" width="40" height="30"> <h1 class="header__title">Dev<span class="header__light">Tek</span></h1></div> 
    
    
    <div class="navbar-menu" id="navbarMenuHeroC">
    <!--
    need to enable the burger menu for mobile responsivness
    -->

        <a 
        role="button" 
        class="navbar-burger" 
        data-target="navbarMenuHeroC"
        aria-label="menu"
        aria-expanded="false"
        >
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
        <nav id="navbar" class="header__nav collapse">
        <ul class="header__elenco">
           
        </ul>
        </nav>
    </div>
        </div>
    </header>
    <main>
        {{{body}}}
    </main>
</body>
</html>