
<h1 class="text-center">Accessories: Mouses </h1>
<div class="container">
  <div class="row" id="slider-text">
    <div class="col-md-6">
      <h2>COLLECTION</h2>
    </div>
  </div>
</div>

<!-- Item slider-->
<div class="container-fluid">

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
      <div class="carousel carousel-showmanymoveone slide" id="itemslider">
        <div class="carousel-inner">

          <div class="item active">
            <div class="col-xs-12 col-sm-6 col-md-2">
              <a class="card" href="/product/19">
                <div class="card__background" style="background-image: url(https://m.media-amazon.com/images/I/61gEGiOvkKL.jpg)"></div>
                <div class="card__content">
                  <p class="card__category">Mouses</p>
                  <h3 class="card__heading">G502</h3>
                </div>
              </a>
              <h4 class="text-center product-text">Logitech G502</h4>
              <h5 class="text-center product-text">$159.99</h5>
            </div>
          </div>

          <div class="item">
            <div class="col-xs-12 col-sm-6 col-md-2">
              <a class="card" href="/product/20">
                <div class="card__background" style="background-image: url(https://media.steelseriescdn.com/thumbs/filer_public/ce/a3/cea3e058-325d-49ba-99c1-aac1db80be7e/aerox_9_wl_black_pdp_tile_d_aquabarrier.png__1920x700_q100_crop-scale_optimize_subsampling-2.jpg)"></div>
                <div class="card__content">
                  <p class="card__category">Mouses</p>
                  <h3 class="card__heading">Aerox 9</h3>
                </div>
              </a>
              <h4 class="text-center product-text">SteelSeries Aerox 9</h4>
              <h5 class="text-center product-text">$109.99</h5>
            </div>
          </div>

          <div class="item">
            <div class="col-xs-12 col-sm-6 col-md-2">
              <a class="card" href="/product/21">
                <div class="card__background" style="background-image: url(https://assets2.razerzone.com/images/pnx.assets/6051d5b1473ea5816571226913548634/razer-basilisk-v3-pro_availablein_desktop_1920x700.jpg)"></div>
                <div class="card__content">
                  <p class="card__category">Mouses</p>
                  <h3 class="card__heading">V3 Pro</h3>
                </div>
              </a>
              <span class="badge">10%</span>
              <h4 class="text-center product-text">Razer Basilisk V3 Pro</h4>
              <h5 class="text-center product-text">$159.99</h5>
            </div>
          </div>

          <div class="item">
            <div class="col-xs-12 col-sm-6 col-md-2">
              <a class="card" href="/product/22">
                <div class="card__background" style="background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcROcGhGmTknos9CheqENTIj7g3_huNENBaY8ONjuWOucz9s8Mkh8Cfj7o5vGOKO3kkiw4U&usqp=CAU)"></div>
                <div class="card__content">
                  <p class="card__category">Mouses</p>
                  <h3 class="card__heading">M65</h3>
                </div>
              </a>
              <h4 class="text-center product-text">Corsair M65</h4>
              <h5 class="text-center product-text">$124.99</h5>
            </div>
          </div>

          <div class="item">
            <div class="col-xs-12 col-sm-6 col-md-2">
              <a class="card" href="/product/23">
                <div class="card__background" style="background-image: url(https://blog.logitech.com/wp-content/uploads/2020/11/Picture1.png)"></div>
                <div class="card__content">
                  <p class="card__category">Mouses</p>
                  <h3 class="card__heading">GPro</h3>
                </div>
              </a>
              <h4 class="text-center product-text">Logitech GPro</h4>
              <h5 class="text-center product-text">$99.99</h5>
            </div>
          </div>

          <div class="item">
            <div class="col-xs-12 col-sm-6 col-md-2">
              <a class="card" href="/product/24">
                <div class="card__background" style="background-image: url(https://m.media-amazon.com/images/I/51qqORP4dpS.jpg)"></div>
                <div class="card__content">
                  <p class="card__category">Mouses</p>
                  <h3 class="card__heading">Starlight-12</h3>
                </div>
              </a>
              <h4 class="text-center product-text">FinalMouse Starlight-12 Phantom</h4>
              <h5 class="text-center product-text">$199.99</h5>
            </div>
          </div>

        </div>

        <div id="slider-control">
          <a class="left carousel-control" href="#itemslider" data-slide="prev"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQkpZzNuMk9m248ZZNS-USumJ0st-lf83Jexg&usqp=CAU" alt="Left" class="img-responsive"></a>
          <a class="right carousel-control" href="#itemslider" data-slide="next"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRon6dyTNg3v3Mn6aXO5QcbvBexA52iN2VBwodDyg73X1OT9fp_WkzisOipP1ZjZv5XJMc&usqp=CAU" alt="Right" class="img-responsive"></a>
        </div>
      </div>
    </div>
  </div>
</div>