<div class="login-box">
    <h2>Blog Submission</h2>
    <form class="new-blog-form"> 
        <div class="user-box">
            <input type="text" name="" required="" id="blog-image">
            <label>Image Url</label>
        </div>
        <div class="user-box">
            <input type="text" name="" required="" id="blog-title">
            <label>Title</label>
        </div>
        <div class="user-box">
            <input type="submit" value="submit" id="submit" />
        </div>
    </form>
</div>