<div class="fb-card">
    <div class="fb-card-content">

    <div class="fb-card-header">
        <img class="fb-card-user-image" src="https://www.blendernation.com/wp-content/uploads/2021/07/Spider_4.jpg" />
        <div>
        <a class="fb-card-user-name" href="#">{{user.username}}</a>
        <span>Yesterday at 5:01 am</span>
        </div>
        <a class="options-icon" href="#">
        <i class="fa fa-ellipsis-h"></i>
        </a>
    </div>
    <div class="fb-card-text">
        <p>{{title}}</p>
    </div>
    <img class="fb-card-image" src="{{picture}}" />
    </div>
    <div class="fb-card-comments">
        <a href="#">
            <i class="fa-solid fa-square-poll-vertical"></i>       
            {{rating}}
        </a>
        <hr />
        <div class="fb-card-input">
            <img class="fb-card-input-image" src="https://www.blendernation.com/wp-content/uploads/2021/07/Spider_4.jpg">
            <input class="fb-card-input-input" type="text" placeholder="Write a comment..." name="comment-body">
            <div class="input-icons">
            <button class="btn">
                submit
            </button>         
            </div>
        </div>
        <div class="fb-card-comment">
            <img class="fb-card-input-image" src="https://preview.redd.it/ta449f0iivh91.jpg?auto=webp&s=dcb97ecbd096e11dbd1ce037dbf77158a01621eb">
            <div class="fb-card-comment-content"> 
                <div class="fb-card-comment-text">
                    <a href="#">Yumi</a> Lorem ipsum dolor sit amet</a>

                </div>
            </div>
        </div>
    </div>
</div>