
<h1 class="text-center">Chairs</h1>
<div class="container">
  <div class="row" id="slider-text">
    <div class="col-md-6">
      <h2>COLLECTION</h2>
    </div>
  </div>
</div>

<!-- Item slider-->
<div class="container-fluid">

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
      <div class="carousel carousel-showmanymoveone slide" id="itemslider">
        <div class="carousel-inner">

          <div class="item active">
            <div class="col-xs-12 col-sm-6 col-md-2">
              <a class="card" href="/product/13">
                <div class="card__background" style="background-image: url(https://www.gamespot.com/a/uploads/original/1595/15950357/3853810-secretlab2022.png)"></div>
                <div class="card__content">
                  <p class="card__category">Chairs</p>
                  <h3 class="card__heading">Titan EVO</h3>
                </div>
              </a>
              <h4 class="text-center product-text">SecretLab Titan EVO</h4>
              <h5 class="text-center product-text">$469.99</h5>
            </div>
          </div>

          <div class="item">
            <div class="col-xs-12 col-sm-6 col-md-2">
              <a class="card" href="/product/14">
                <div class="card__background" style="background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSP3oQvAl8Pf-E56Pocq-WpZi0vpBcdo9jjAw&usqp=CAU)"></div>
                <div class="card__content">
                  <p class="card__category">Chairs</p>
                  <h3 class="card__heading">X1C</h3>
                </div>
              </a>
              <h4 class="text-center product-text">CoolerMaster Caliber X1C</h4>
              <h5 class="text-center product-text">$369.99</h5>
            </div>
          </div>

          <div class="item">
            <div class="col-xs-12 col-sm-6 col-md-2">
              <a class="card" href="/product/15">
                <div class="card__background" style="background-image: url(https://d1lss44hh2trtw.cloudfront.net/assets/article/2021/10/20/razer-enki-x-feature_feature.jpg)"></div>
                <div class="card__content">
                  <p class="card__category">Chairs</p>
                  <h3 class="card__heading">Enki X</h3>
                </div>
              </a>
              <span class="badge">10%</span>
              <h4 class="text-center product-text">Razer Enki X</h4>
              <h5 class="text-center product-text">$297.99</h5>
            </div>
          </div>

          <div class="item">
            <div class="col-xs-12 col-sm-6 col-md-2">
              <a class="card" href="/product/16">
                <div class="card__background" style="background-image: url(https://cdn11.bigcommerce.com/s-wch2uz2p84/images/stencil/500x659/products/886033/990405/M5_CLEAN__36570.1642166705.jpg?c=1)"></div>
                <div class="card__content">
                  <p class="card__category">Chairs</p>
                  <h3 class="card__heading">M5</h3>
                </div>
              </a>
              <h4 class="text-center product-text">Mavix M5</h4>
              <h5 class="text-center product-text">$549.99</h5>
            </div>
          </div>

          <div class="item">
            <div class="col-xs-12 col-sm-6 col-md-2">
              <a class="card" href="/product/17">
                <div class="card__background" style="background-image: url(https://encrypted-tbn0.gstatic.com/shopping?q=tbn:ANd9GcRbPPWBHlLl59INAmIAFezkFRNzMaOgm3feRjH2zh1Tl5rGW_ib1DKcKpP5eJNB4n0yQg7NebIs&usqp=CAE)"></div>
                <div class="card__content">
                  <p class="card__category">Chairs</p>
                  <h3 class="card__heading">Embody</h3>
                </div>
              </a>
              <h4 class="text-center product-text">Herman Miller x Logitech: Embody</h4>
              <h5 class="text-center product-text">$1,119.99</h5>
            </div>
          </div>

          <div class="item">
            <div class="col-xs-12 col-sm-6 col-md-2">
              <a class="card" href="/product/18">
                <div class="card__background" style="background-image: url(https://images.secretlab.co/theme/common/collab_deadmau5_gallery02-min.jpg)"></div>
                <div class="card__content">
                  <p class="card__category">Chairs</p>
                  <h3 class="card__heading">Collab:Omega</h3>
                </div>
              </a>
              <h4 class="text-center product-text">SecretLab x DeadMau5: Omega</h4>
              <h5 class="text-center product-text">$999.99</h5>
            </div>
          </div>

        </div>

        <div id="slider-control">
          <a class="left carousel-control" href="#itemslider" data-slide="prev"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQkpZzNuMk9m248ZZNS-USumJ0st-lf83Jexg&usqp=CAU" alt="Left" class="img-responsive"></a>
          <a class="right carousel-control" href="#itemslider" data-slide="next"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRon6dyTNg3v3Mn6aXO5QcbvBexA52iN2VBwodDyg73X1OT9fp_WkzisOipP1ZjZv5XJMc&usqp=CAU" alt="Right" class="img-responsive"></a>
        </div>
      </div>
    </div>
  </div>
</div>