<div class="description">
    <h1>[The DevTek Community]</h1>
    <div class="paragraph-box">
        <h2>Opening a door to the future</h2>
        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad eum dolorum architecto obcaecati enim dicta
            praesentium, quam nobis! Neque ad aliquam facilis numquam. Veritatis, sit. Lorem ipsum dolor sit amet, consectetur 
            adipisicing elit. Ad eum dolorum architecto obcaecati enim dicta praesentium, quam nobis! Neque ad aliquam facilis numquam.
                Veritatis, sit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad eum dolorum architecto obcaecati enim dicta 
                praesentium, quam nobis! Neque ad aliquam facilis numquam. Veritatis, sit.</p>
        <p class="read-more">
            <a href="#">Read More</a>
        </p>
    </div>
</div>





<section class="hero-section">
    <div class="card-grid">
        <a class="card" href="#">
            <div class="card__background"
                style="background-image: url(https://i.pinimg.com/736x/a3/a3/9d/a3a39dea0c3d40e09976ac27ab58ad95.jpg)">
            </div>
            <div class="card__content">
                <p class="card__category">NEWS</p>
                <h3 class="card__heading">Latest Community News</h3>
            </div>
        </a>
        <a class="card" href="#">
            <div class="card__background"
                style="background-image: url(https://c4.wallpaperflare.com/wallpaper/677/807/774/pc-gaming-computer-pc-cases-technology-wallpaper-preview.jpg)">
            </div>
            <div class="card__content">
                <p class="card__category">WHATS NEW</p>
                <h3 class="card__heading">The future of gaming PC's</h3>
            </div>
        </a>
        <a class="card" href="#">
            <div class="card__background"
                style="background-image: url(https://media.istockphoto.com/id/1051243766/photo/gamer-workspace-concept-top-view-a-gaming-gear-mouse-keyboard-with-rgb-color-joystick-headset.jpg?b=1&s=170667a&w=0&k=20&c=ehjSBevsl_VUWxv5Zc7qEW5URu_Z94KxTm-AtVk1BFU=)">
            </div>
            <div class="card__content">
                <p class="card__category">DEVELOPMENT</p>
                <h3 class="card__heading">What's new for DevTek?</h3>
            </div>
            </li>
            <a class="card" href="#">
                <div class="card__background"
                    style="background-image: url(https://images.pexels.com/photos/158826/structure-light-led-movement-158826.jpeg?cs=srgb&dl=pexels-pixabay-158826.jpg&fm=jpg)">
                </div>
                <div class="card__content">
                    <p class="card__category">DevTek</p>
                    <h3 class="card__heading">Employment opportunities at DevTek</h3>
                </div>
            </a>
            <div>

                                
</section>
<!--End-->
<h1 class="row_title">
    [Our Sponsers]
</h1>

<div class="sect sect--white sect--no-padding">
    <div class="container">
        <div class="row row--center">
            <div class="col-md-3 col-xs-6 col-sm-6 partner">
                <a href="#" class="partner__link">
                    <img class="partner_img"
                        src="https://www.nvidia.com/content/dam/en-zz/Solutions/about-nvidia/logo-and-brand/02-nvidia-logo-color-blk-500x200-4c25-p@2x.png">
                </a>
            </div>

            <div class="col-md-3  col-xs-6 col-sm-6 partner">
                <a href="#" class="partner__link">
                    <img class="partner_img"
                        src="https://seeklogo.com/images/L/logitech-g-logo-F0E0609A14-seeklogo.com.png">
                </a>
            </div>


            <div class="col-md-3 col-xs-6 col-sm-6 partner">
                <a href="#" class="partner__link">
                    <img class="partner_img"
                        src="https://resources.esportsinsider.com/esportsinsider/2021/10/100t-higround-1024x531.png">
                </a>
            </div>

            <div class="col-md-3 col-xs-6 col-sm-6 partner">
                <a href="#" class="partner__link">
                    <img class="partner_img"
                        src="https://m.media-amazon.com/images/S/abs-image-upload-na/7/AmazonStores/ATVPDKIKX0DER/5dc7c15e607cb4e5245fbe1adec4189e.w400.h400.jpg">
                </a>
            </div>


        </div>
        <div class="row row--center">
            <div class="col-md-3 col-xs-6 col-sm-6 partner">
                <a href="#" class="partner__link">
                    <img class="partner_img"
                        src="https://i.pcmag.com/imagery/articles/0366vuTr9IxVcd66HpDbYbG-1..v1572662863.jpg">
                </a>
            </div>

            <div class="col-md-3 col-xs-6 col-sm-6 partner">
                <a href="#" class="partner__link">
                    <img class="partner_img"
                        src="https://cdn.freebiesupply.com/logos/large/2x/nintendo-2-logo-png-transparent.png">
                </a>
            </div>


            <div class="col-md-3 col-xs-6 col-sm-6 partner">
                <a href="#" class="partner__link">
                    <img class="partner_img"
                        src="https://1000logos.net/wp-content/uploads/2016/10/apple-emblem.jpg">
                </a>
            </div>

            <div class="col-md-3 col-xs-6 col-sm-6 partner">
                <a href="#" class="partner__link">
                    <img class="partner_img"
                        src="https://res.cloudinary.com/crunchbase-production/image/upload/c_lpad,h_256,w_256,f_auto,q_auto:eco,dpr_1/mutdlqjd2ca56k2dpl1u">
                </a>
            </div>
        </div>
    </div>
</div>

<script src="/utils/index.js"></script>
