
<h1 class="text-center"> KeyBoards</h1>
<div class="container">
  <div class="row" id="slider-text">
    <div class="col-md-6">
      <h2>COLLECTION</h2>
    </div>
  </div>
</div>

<!-- Item slider-->
<div class="container-fluid">

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
      <div class="carousel carousel-showmanymoveone slide" id="itemslider">
        <div class="carousel-inner">

          <div class="item active">
            <div class="col-xs-12 col-sm-6 col-md-2">
              <a class="card" href="/product/7">
                <div class="card__background" style="background-image: url(https://cdn.shopify.com/s/files/1/0352/1514/7148/products/CopyofHiGround_001_480x.jpg?v=1663273057)"></div>
                <div class="card__content">
                  <p class="card__category">KeyBoards</p>
                  <h3 class="card__heading">SnowStone</h3>
                </div>
              </a>
              <h4 class="text-center product-text">HiGround SnowStone</h4>
              <h5 class="text-center product-text">$149.99</h5>
            </div>
          </div>

          <div class="item">
            <div class="col-xs-12 col-sm-6 col-md-2">
              <a class="card" href="/product/8">
                <div class="card__background" style="background-image: url(https://cdn.shopify.com/s/files/1/0508/6747/0494/products/pdp_gallery_04_e30305a4-d3ab-42b2-b5ed-ec8a0cab00ee_large@2x.png?v=1614681395)"></div>
                <div class="card__content">
                  <p class="card__category">KeyBoards</p>
                  <h3 class="card__heading">Vulcan TKL</h3>
                </div>
              </a>
              <h4 class="text-center product-text">Roccat Vulcan TKL</h4>
              <h5 class="text-center product-text">$129.99</h5>
            </div>
          </div>

          <div class="item">
            <div class="col-xs-12 col-sm-6 col-md-2">
              <a class="card" href="/product/9">
                <div class="card__background" style="background-image: url(https://cdn.shopify.com/s/files/1/0059/0630/1017/t/5/assets/keychronq6fullsizedqmkcustommechanicalkeyboard5--edited-1655290569944.jpg?v=1655290575)"></div>
                <div class="card__content">
                  <p class="card__category">KeyBoards</p>
                  <h3 class="card__heading">Q6</h3>
                </div>
              </a>
              <span class="badge">10%</span>
              <h4 class="text-center product-text">Keychron Q6</h4>
              <h5 class="text-center product-text">$179.99</h5>
            </div>
          </div>

          <div class="item">
            <div class="col-xs-12 col-sm-6 col-md-2">
              <a class="card" href="/product/10">
                <div class="card__background" style="background-image: url(https://m.media-amazon.com/images/I/81yOuAUQAiL.jpg)"></div>
                <div class="card__content">
                  <p class="card__category">KeyBoards</p>
                  <h3 class="card__heading">Apex Pro</h3>
                </div>
              </a>
              <h4 class="text-center product-text">SteelSeries Apex Pro</h4>
              <h5 class="text-center product-text">$139.99</h5>
            </div>
          </div>

          <div class="item">
            <div class="col-xs-12 col-sm-6 col-md-2">
              <a class="card" href="/product/11">
                <div class="card__background" style="background-image: url(https://www.mechanical-keyboard.org/wp-content/uploads/2021/03/Razer-Pro-Type-Wireless-Keyboard.jpg)"></div>
                <div class="card__content">
                  <p class="card__category">KeyBoards</p>
                  <h3 class="card__heading">Pro Type Ultra</h3>
                </div>
              </a>
              <h4 class="text-center product-text">Razer Pro Type Ultra</h4>
              <h5 class="text-center product-text">$159.99</h5>
            </div>
          </div>

          <div class="item">
            <div class="col-xs-12 col-sm-6 col-md-2">
              <a class="card" href="/product/12">
                <div class="card__background" style="background-image: url(https://m.media-amazon.com/images/S/aplus-media-library-service-media/1b0ea486-c74f-4e0d-92a5-1f461be78b7c.__CR181,0,3637,2250_PT0_SX970_V1___.jpg)"></div>
                <div class="card__content">
                  <p class="card__category">KeyBoards</p>
                  <h3 class="card__heading">GMMK Pro</h3>
                </div>
              </a>
              <h4 class="text-center product-text">Glorious GMMK Pro</h4>
              <h5 class="text-center product-text">$169.99</h5>
            </div>
          </div>

        </div>

        <div id="slider-control">
          <a class="left carousel-control" href="#itemslider" data-slide="prev"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQkpZzNuMk9m248ZZNS-USumJ0st-lf83Jexg&usqp=CAU" alt="Left" class="img-responsive"></a>
          <a class="right carousel-control" href="#itemslider" data-slide="next"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRon6dyTNg3v3Mn6aXO5QcbvBexA52iN2VBwodDyg73X1OT9fp_WkzisOipP1ZjZv5XJMc&usqp=CAU" alt="Right" class="img-responsive"></a>
        </div>
      </div>
    </div>
  </div>
</div>