

<div class="login-box">
    <h2>Login</h2>
    <form class="login-form">
      <div class="user-box">
        <input type="text" name="" id="username-login" required="">
        <label>Username</label>
      </div>
      <div class="user-box">
        <input type="text" name="" id="password-login" required="">
        {{!-- <input type="password" name="" id="password-login" required=""> --}}
        <label>Password</label>
      </div>
      <div class="user-box">
        Don't have an Account go <a class="here" href="/signup">HERE</a>
      </div>
      <div class="user-box">
        <input type="submit" value="login" id="submit" />
      </div>
      {{!-- <a>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Submit
      </a> --}}
    </form>
</div>


  
<script src="/js/login.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
