
<h1 class="text-center"> PC's</h1>
<div class="container">
  <div class="row" id="slider-text">
    <div class="col-md-6">
      <h2>COLLECTION</h2>
    </div>
  </div>
</div>

<!-- Item slider-->
<div class="container-fluid">

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
      <div class="carousel carousel-showmanymoveone slide" id="itemslider">
        <div class="carousel-inner">

          <div class="item active">
            <div class="col-xs-12 col-sm-6 col-md-2">
              <a class="card" href="/product/1">
                <div class="card__background" style="background-image: url(https://manofmany.com/wp-content/uploads/2021/10/9-Alienware-Aurora-R13-1200x900.jpg)"></div>
                <div class="card__content">
                  <p class="card__category">PC'S</p>
                  <h3 class="card__heading">R13</h3>
                </div>
              </a>
              <h4 class="text-center product-text">Alienware Aurora R13</h4>
              <h5 class="text-center product-text">$1,899.99</h5>
            </div>
          </div>

          <div class="item">
            <div class="col-xs-12 col-sm-6 col-md-2">
              <a class="card" href="/product/2">
                <div class="card__background" style="background-image: url(https://www.velocitymicro.com/img/PC/GX6/gx6-side-open-1000.png)"></div>
                <div class="card__content">
                  <p class="card__category">PC'S</p>
                  <h3 class="card__heading">Z55</h3>
                </div>
              </a>
              <h4 class="text-center product-text">Velocity Micro Raptor Z55</h4>
              <h5 class="text-center product-text">$2,749.99</h5>
            </div>
          </div>

          <div class="item">
            <div class="col-xs-12 col-sm-6 col-md-2">
              <a class="card" href="/product/3">
                <div class="card__background" style="background-image: url(https://d1k3jiaf8cocae.cloudfront.net/wp-content/uploads/turbo_r_custom.jpg)"></div>
                <div class="card__content">
                  <p class="card__category">PC'S</p>
                  <h3 class="card__heading">Turbo</h3>
                </div>
              </a>
              <span class="badge">10%</span>
              <h4 class="text-center product-text">MainGear Turbo</h4>
              <h5 class="text-center product-text">$1,919.99</h5>
            </div>
          </div>

          <div class="item">
            <div class="col-xs-12 col-sm-6 col-md-2">
              <a class="card" href="/product/4">
                <div class="card__background" style="background-image: url(https://storage-asset.msi.com/us/picture/feature/desktop/aegis_rs_10th/cool-liquid.png)"></div>
                <div class="card__content">
                  <p class="card__category">PC'S</p>
                  <h3 class="card__heading">Aegis RS</h3>
                </div>
              </a>
              <h4 class="text-center product-text">MSI Aegis RS</h4>
              <h5 class="text-center product-text">$1,429.99</h5>
            </div>
          </div>

          <div class="item">
            <div class="col-xs-12 col-sm-6 col-md-2">
              <a class="card" href="/product/5">
                <div class="card__background" style="background-image: url(https://www.originpc.com/blog/wp-content/uploads/2022/03/corsair-5000t-2.jpg)"></div>
                <div class="card__content">
                  <p class="card__category">PC'S</p>
                  <h3 class="card__heading">5000T</h3>
                </div>
              </a>
              <h4 class="text-center product-text">Origin PC Millenium 5000T</h4>
              <h5 class="text-center product-text">$1,799.99</h5>
            </div>
          </div>

          <div class="item">
            <div class="col-xs-12 col-sm-6 col-md-2">
              <a class="card" href="/product/6">
                <div class="card__background" style="background-image: url(https://images.ctfassets.net/aekk6nx6e23n/6OKEuvH5AXhRsP2XDzLuDh/0e0b2d5878d99c29bda2bb0690db385f/TIKI_v1.5-Components_Fixed_01.jpg)"></div>
                <div class="card__content">
                  <p class="card__category">PC'S</p>
                  <h3 class="card__heading">Tiki</h3>
                </div>
              </a>
              <h4 class="text-center product-text">Falcon Northwest Tiki</h4>
              <h5 class="text-center product-text">$3,299.99</h5>
            </div>
          </div>

        </div>

        <div id="slider-control">
          <a class="left carousel-control" href="#itemslider" data-slide="prev"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQkpZzNuMk9m248ZZNS-USumJ0st-lf83Jexg&usqp=CAU" alt="Left" class="img-responsive"></a>
          <a class="right carousel-control" href="#itemslider" data-slide="next"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRon6dyTNg3v3Mn6aXO5QcbvBexA52iN2VBwodDyg73X1OT9fp_WkzisOipP1ZjZv5XJMc&usqp=CAU" alt="Right" class="img-responsive"></a>
        </div>
      </div>
    </div>
  </div>
</div>


