<h1 class="title">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Our Gear
    </h1>

    <section class="hero-section">
        <div class="card-grid">
          <a class="card" href="/pc">
            <div class="card__background" style="background-image: url(https://media.gq-magazine.co.uk/photos/60ad10bf8f49c47fbca5e53d/1:1/w_1080,h_1080,c_limit/24052021_ROB_01.jpg)"></div>
            <div class="card__content">
              <p class="card__category">PC'S</p>
              <h3 class="card__heading">The MasterRace</h3>
            </div>
          </a>
          <a class="card" href="/keyboard">
            <div class="card__background" style="background-image: url(https://cdn.shopify.com/s/files/1/0352/1514/7148/products/011_480x.jpg?v=1639107987)"></div>
            <div class="card__content">
              <p class="card__category">KeyBoards</p>
              <h3 class="card__heading">We got the juice</h3>
            </div>
          </a>
          <a class="card" href="/chairs">
            <div class="card__background" style="background-image: url(https://mlpnk72yciwc.i.optimole.com/cqhiHLc.IIZS~2ef73/w:auto/h:auto/q:75/https://bleedingcool.com/wp-content/uploads/2021/07/Secretlab-2022-Series-Main-Image.jpg)"></div>
            <div class="card__content">
              <p class="card__category">Gaming Chairs</p>
              <h3 class="card__heading">Sponsored by SecretLab</h3>
            </div>
          </li>
          <a class="card" href="/accesories">
            <div class="card__background" style="background-image: url(https://assets-prd.ignimgs.com/2022/04/21/best-lightweight-gaming-mouse-1650576220907.jpg)"></div>
            <div class="card__content">
              <p class="card__category">Accessories...</p>
              <h3 class="card__heading">& More</h3>
            </div>
          </a>
        <div>
    </section>
