
  <div class="background-image">
    <div class="login-box">
        <h2>Sign Up</h2>
        <form class="signup-form">
          <div class="user-box">
            <input type="text" name="" id="username-signup" required="">
            <label>Username</label>
          </div>
          <div class="user-box">
            <input type="text" name="" id="password-signup" required="">
            {{!-- <input type="password" name="" id="password-signup" required=""> --}}
            <label>Password</label>
          </div>
          <div class="user-box">
            <input type="text" name="" required="">
            {{!-- <input type="password" name="" required=""> --}}
            <label>Confirm Password</label>
          </div>
          <div class="user-box">
          Already have an account go <a class="here" href="/login">HERE</a>
          </div>
          <div class="user-box">
            <input type="submit" value="signup" id="submit" />
          </div>
          {{!-- <a id="submit">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Sign Up
          </a> --}}
        </form>
    </div>

  </div>
    
  <script src="/js/signup.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
