        <div class="grid">
            <div class="grid-item details upload resize">
            <div>
                <a href='#'><img id="bigPlus" class="upload__button" src="/images/favicon-32x32.png"></a>
                <p class="card__category">Upload</p>
                <h2 id="goad" class="card__heading">How do you stack up?</h2>
            </div>
        <form id="upload" class="center hide">
            <div>
                <label>Title</label>
                <input type="text" id="blog-title" name="Title" required="true">
            </div>
            <div>
                <label>Image URL</label>
                <input type="text" id="blog-image" name="Image" required="true">
            </div>
        </form>
        </div>