.hero-section {
    margin-top: 100px;
    background-image: url(https://i.pinimg.com/originals/32/c3/a7/32c3a75b9d47ea321c108dc076708640.gif);
    background-size: cover;

}

.title {
    margin-top: 20px;
}

